<phpunit bootstrap="bootstrap.php">
    <php>
    </php>

    <testsuites>
        <testsuite name="Jackalope Unit Tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
					<directory>./</directory>
        </whitelist>
        <blacklist>
					<directory>../</directory>
        </blacklist>
    </filter>
</phpunit>
